*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
	margin-top: 50px;
	text-align: center;
	background: navy;
	color: white;
    border-radius: 10px;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}